#main
{
  text-align:center;
  display: in-line;
  border: 10px red;
}
#image-div
{
  background-color:yellow;
  padding:20px;
  border:10px red;
  border-radius: 20px;
  border-bottom:9px solid #d8cefe;
}
.me{
  width: 150px
}
.card{
 width: 400px;
 padding:20px;
 display: flex;
 justify-content: space-around;
 margin-left:auto;
 margin-right:auto;
 background-color:#ddebf8;
 border-radius: 20px;
 border-bottom: 9px solid #d8cefe;
 

}

.border-blue{
 
  border-radius: 20px;
}

.notes{
  background-color: #D3c4D1;
  border:20px red;
  border-radius: 10px;
  border-bottom: 9px solid #d8cefe;
}


}

.three{
  background-color: white;
  border-radius: 10px;
}